@model List<TShirtStore.WebUI.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
</div>

<div class="row">

    @foreach (var item in Model)
    {<div class="col-sm-4">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="~/Images/no-user-image.gif" alt="Card image cap">
            <div class="card-block">
                <a href='@Url.Action("GetProductById","Home",new { id=item.ProductID},null)'>
                    <h4 class="card-title">@item.ProductName</h4>
                </a>

                <p class="card-text">@item.ProductPrice</p>

            </div>
        </div>
    </div>
    }


</div>